PORT=3000
NODE_ENV=development

PIX_PAYLOAD=pix-copia-e-cola-para-gerar-o-qrcode.
DOMAIN_SERVER=aqui está como dominio, mas por favor, coloque o protocolo http ou https sendo: https://mais-seu-dominio.com